*{
  background: rgba(42, 42, 42, 1.0);
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: sans-serif;
}

.App{
  padding-top: 59px;
  display: grid;
  grid-template-areas: "stock main tool";
}

.stock{
  grid-area: stock;
}
.main{
  grid-area: main;
}
.tool{
  grid-area: tool;
}









::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}